root = true

[*]
charset = utf-8
insert_final_newline = true
spelling_language = en
trim_trailing_whitespace = true

[*.{c,h}]
indent_size = 4
indent_style = tab

[*.sh]
indent_size = 2
indent_style = space

[*.out]
trim_trailing_whitespace = false

[rules]
indent_size = 8
indent_style = tab
