*.bc
*.o
*.so
*.tar.gz
*.zip
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/data/pgroonga--*.sql
!/data/pgroonga--*--*.sql
/data/pgroonga_database--*.sql
!/data/pgroonga_database--*--*.sql
/examples/completion/edict.gz
!/packages/pgroonga/yum/*.spec.in
/expected/vacuum/tablespace.out
/null
/packages/*/apt/build.sh
/packages/*/apt/env.sh
/packages/*/apt/repositories/
/packages/*/apt/tmp/
/packages/*/debian.*/
/packages/*/ubuntu/tmp/
/packages/*/yum/*.spec.in
/packages/*/yum/build.sh
/packages/*/yum/env.sh
/packages/*/yum/repositories/
/packages/*/yum/tmp/
/packages/apt/repositories/
/packages/source/
/packages/yum/repositories/
/regression.*
/results/
/sql/vacuum/tablespace.sql
/tmp/
