*.o
*.so
*.tar.gz
*.zip
pgroonga--*.sql
!pgroonga--*--*.sql
/examples/completion/edict.gz
/regression.*
/sql/vacuum/tablespace.sql
/expected/vacuum/tablespace.out
/results/
/packages/source/
/packages/apt/.vagrant/
/packages/apt/env.sh
/packages/apt/repositories/
/packages/apt/tmp/
/packages/yum/.vagrant/
/packages/yum/env.sh
/packages/yum/repositories/
/packages/yum/*.spec
/packages/yum/tmp/
/tmp/
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles/
