*.o
*.so
*.tar.gz
*--*.sql
/regression.*
/results/
/packages/source/
/packages/yum/.vagrant/
/packages/yum/env.sh
/packages/yum/repositories/
/packages/yum/*.spec
/packages/yum/tmp/
/tmp/
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles/
