repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: "v18.1.4"
    hooks:
      - id: clang-format
  - repo: local
    hooks:
      - id: lint
        name: Lint
        language: system
        entry: |
          rake lint
        always_run: true
        pass_filenames: false
  - repo: https://github.com/trim21/pre-commit-mirror-meson
    rev: "v1.8.2"
    hooks:
      - id: meson-fmt
        types:
          - meson
