name: Lint
on:
  push:
  pull_request:
concurrency:
  group: ${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
      - name: Install pre-commit
        run: |
          python3 -m pip install pre-commit
          pre-commit run --show-diff-on-failure --color=always
      - name: Cache pre-commit
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Run pre-commit
        run: |
          pre-commit run --all-files --color=always --show-diff-on-failure
  test-pair:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check that `sql/**/*.sql` and `expected/**/*.out` are paired
        run: |
          diff -u \
            <(cd sql && find . -type f | sed -e 's/\.sql/.out/g' | sort) \
            <(cd expected && find . -type f | sort)
