name: Linux
on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: |
        0 0 * * *
jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        label:
          - PostgreSQL 9.6
          - PostgreSQL 10
          - PostgreSQL 11
          - PostgreSQL 12
          - PostgreSQL 13
          - PostgreSQL 13 with Groonga master
        include:
          - label: PostgreSQL 9.6
            postgresql-version: "9.6"
          - label: PostgreSQL 10
            postgresql-version: "10"
          - label: PostgreSQL 11
            postgresql-version: "11"
          - label: PostgreSQL 12
            postgresql-version: "12"
          - label: PostgreSQL 13
            postgresql-version: "13"
          - label: PostgreSQL 13 with Groonga master
            postgresql-version: "13"
            groonga-master: "yes"
    env:
      GROONGA_MASTER: ${{ matrix.groonga-master }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install dependency
        run: |
          curl \
            --silent \
            --location \
            https://github.com/groonga/groonga/raw/master/data/travis/setup.sh | \
            sh
          if [ "${GROONGA_MASTER}" != "yes" ]; then
            sudo apt -y -V install \
              groonga-token-filter-stem \
              groonga-tokenizer-mecab \
              libmsgpack-dev
          fi
      - name: Install PostgreSQL
        run: |
          sudo apt -y -V purge \
            postgresql \
            postgresql-12 \
            postgresql-client \
            postgresql-client-12
          sed \
            -i'' \
            -e 's/main/${{ matrix.postgresql-version }}/g' \
            /etc/apt/sources.list.d/pgdg.list
          sudo apt update
          sudo apt -y -V install \
            postgresql-${{ matrix.postgresql-version }} \
            postgresql-server-dev-${{ matrix.postgresql-version }}
          sudo systemctl start postgresql
          sudo -u postgres -H psql -c "CREATE ROLE ${USER} SUPERUSER LOGIN;"
      - name: Run regression test
        run: |
          test/run-sql-test.sh
        env:
          NEED_SUDO: "yes"
          PG_CONFIG: "/usr/lib/postgresql/${{ matrix.postgresql-version }}/bin/pg_config"
          SUPPRESS_LOG: "no"
      - name: Show diff
        if: failure()
        run: |
          cat regression.diffs
      - name: Show pgroonga.log
        if: failure()
        run: |
          sudo cat \
            /var/lib/postgresql/${{ matrix.postgresql-version }}/main/pgroonga.log
      - name: Run unit test
        run: |
          PATH="/usr/lib/postgresql/${{ matrix.postgresql-version }}/bin:$PATH" \
            test/run-test.rb
