name: Package
on:
  push:
  pull_request:
  schedule:
    - cron: |
        0 0 * * *
jobs:
  linux:
    name: Linux
    # arm64 packages are often stuck.
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        package-id:
          - postgresql-13-pgdg-pgroonga-debian-buster
          - postgresql-13-pgdg-pgroonga-debian-buster-arm64
          - postgresql-13-pgdg-pgroonga-debian-bullseye
          - postgresql-13-pgdg-pgroonga-debian-bullseye-arm64
          - postgresql-13-pgdg-pgroonga-ubuntu-bionic
          - postgresql-13-pgdg-pgroonga-ubuntu-bionic-arm64
          - postgresql-13-pgdg-pgroonga-ubuntu-focal
          - postgresql-13-pgdg-pgroonga-ubuntu-focal-arm64
          - postgresql-13-pgdg-pgroonga-centos-8
          - postgresql-13-pgdg-pgroonga-centos-7
          - postgresql-13-pgroonga-debian-bullseye
          - postgresql-13-pgroonga-debian-bullseye-arm64
          - postgresql-12-pgdg-pgroonga-debian-buster
          - postgresql-12-pgdg-pgroonga-debian-buster-arm64
          - postgresql-12-pgdg-pgroonga-debian-bullseye
          - postgresql-12-pgdg-pgroonga-debian-bullseye-arm64
          - postgresql-12-pgdg-pgroonga-ubuntu-bionic
          - postgresql-12-pgdg-pgroonga-ubuntu-bionic-arm64
          - postgresql-12-pgdg-pgroonga-ubuntu-focal
          - postgresql-12-pgdg-pgroonga-ubuntu-focal-arm64
          - postgresql-12-pgdg-pgroonga-centos-8
          - postgresql-12-pgdg-pgroonga-centos-7
          - postgresql-12-pgroonga-centos-8
          - postgresql-12-pgroonga-centos-7
          - postgresql-11-pgroonga-debian-buster
          - postgresql-11-pgroonga-debian-buster-arm64
          - postgresql-11-pgdg-pgroonga-ubuntu-bionic
          - postgresql-11-pgdg-pgroonga-ubuntu-bionic-arm64
          - postgresql-11-pgdg-pgroonga-ubuntu-focal
          - postgresql-11-pgdg-pgroonga-ubuntu-focal-arm64
          - postgresql-11-pgroonga-centos-7
          - postgresql-10-pgdg-pgroonga-ubuntu-bionic
          - postgresql-10-pgdg-pgroonga-ubuntu-bionic-arm64
          - postgresql-10-pgdg-pgroonga-ubuntu-focal
          - postgresql-10-pgdg-pgroonga-ubuntu-focal-arm64
          - postgresql-10-pgdg-pgroonga-centos-7
          - postgresql-10-pgroonga-centos-7
          - postgresql-9.6-pgroonga-centos-7
          - pgroonga-fedora-33
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt -y -V install \
            qemu-user-static \
            ruby
          sudo gem install bundler
          bundle install
      # qemu-user-static in Ubuntu 20.04 has the following bug.
      # https://bugs.launchpad.net/qemu/+bug/1749393
      # This bug has already fixed in Ubuntu 20.10.
      # However, this fix is not included in Ubuntu 20.04.
      # Therefore, we temporaly use qemu-user-static in Ubuntu 20.10.
      # We remove this step when qemu-user-static in Ubuntu 20.04 will include above remediation.
      - name: Install QEMU from Groovy
        run: |
          sudo tee /etc/apt/preferences.d/qemu <<EOF
          Package: *
          Pin: release n=focal
          Pin-Priority: 900
          Package: *
          Pin: release n=groovy
          Pin-Priority: 400
          EOF
          sudo tee /etc/apt/sources.list.d/groovy.list <<EOF
          deb http://jp.archive.ubuntu.com/ubuntu groovy universe
          deb http://jp.archive.ubuntu.com/ubuntu groovy-updates universe
          deb http://security.ubuntu.com/ubuntu groovy-security universe
          EOF
          sudo apt update
          sudo apt install -t groovy qemu-user-static
      - name: Clone dependencies
        run: |
          cd ..
          git clone --depth 1 https://github.com/groonga/groonga.git
          cd groonga
          git submodule update --init --force --recursive --depth 1
      - name: Build archive
        run: |
          rake dist
      - name: Configure
        run: |
          set -eux
          package=$(echo ${{ matrix.package-id }} | \
                      sed -E -e 's/-(debian|ubuntu|centos|fedora).*$//g')
          os=$(echo ${{ matrix.package-id }} | \
                 sed -E -e 's/^.*-((debian|ubuntu|centos|fedora).*)$/\1/g')
          echo "PACKAGE=${package}" >> ${GITHUB_ENV}
          echo "OS=${os}" >> ${GITHUB_ENV}
          case ${os} in
            debian-*|ubuntu-*)
              echo "PACKAGE_TYPE=apt" >> ${GITHUB_ENV}
              ;;
            centos-*|fedora-*)
              echo "PACKAGE_TYPE=yum" >> ${GITHUB_ENV}
              ;;
          esac
          test_docker_image=$(echo ${os} | sed -E -e 's/-/:/g')
          case ${test_docker_image} in
            *:arm64)
              echo "ARCHITECTURE=arm64" >> ${GITHUB_ENV}
              test_docker_image="$(echo ${test_docker_image} | \
                                     sed -E -e 's/:arm64$//g')"
              test_docker_image="arm64v8/${test_docker_image}"
              ;;
            *)
              echo "ARCHITECTURE=amd64" >> ${GITHUB_ENV}
              ;;
          esac
          echo "TEST_DOCKER_IMAGE=${test_docker_image}" >> ${GITHUB_ENV}
      - name: Cache ccache
        uses: actions/cache@v2
        with:
          path: packages/${{ env.PACKAGE }}/${{ env.PACKAGE_TYPE }}/build/ccache
          key: package-${{ matrix.package-id }}-ccache-${{ hashFiles('src/*.c', 'src/*.h') }}
          restore-keys: package-${{ matrix.package-id }}-ccache-
      - name: Build with Docker
        run: |
          set -x
          cd packages/${PACKAGE}
          rake version:update
          rake \
            ${PACKAGE_TYPE}:build \
            $(echo ${PACKAGE_TYPE} | tr 'a-z' 'A-Z')_TARGETS=${OS} \
            BUILD_DIR=build
          mv ${PACKAGE_TYPE}/repositories/ ../../
        env:
          GROONGA_REPOSITORY: ../../../groonga

      # Artifact
      - uses: actions/upload-artifact@master
        with:
          name: ${{ matrix.package-id }}
          path: repositories/

      # Release
      - name: Create assets
        if: |
          startsWith(github.ref, 'refs/tags/')
        run: |
          tar czf ${{ matrix.package-id }}.tar.gz repositories/
      - name: Ensure creating release
        if: |
          startsWith(github.ref, 'refs/tags/')
        id: create-release
        uses: actions/github-script@0.4.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const AsyncFunction = Object.getPrototypeOf(async () => {}).constructor
            const fs = require("fs");
            const path = ".github/workflows/ensure-creating-release.js";
            const script = fs.readFileSync(path).toString();
            const func = new AsyncFunction("require", "github", "context", script);
            return await func(require, github, context);
      - name: Upload to release
        uses: actions/upload-release-asset@v1.0.1
        if: |
          startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.result }}
          asset_path: ${{ matrix.package-id }}.tar.gz
          asset_name: ${{ matrix.package-id }}.tar.gz
          asset_content_type: application/gzip

      # Test
      - name: Test
        if: |
          env.ARCHITECTURE != 'arm64'
        run: |
          docker run \
            --rm \
            --volume ${PWD}:/host:ro \
            ${TEST_DOCKER_IMAGE} \
            /host/packages/${PACKAGE_TYPE}/test.sh
